body{
  margin: 0;
  padding: 0;
}

.image{
  background-repeat: no-repeat;
  background-size: contain;
}

.hide{
  display: none;
}


.background{
  filter: brightness(70%);
}

.pressed{
 filter: invert(100%);
}


#NOTIFY{
  position: absolute;  
  top: 8vmin;
  left: 3vmin;
  color: white;
  
  font-style: italic;
  font-size: 3.5vmin;
}

#WINDOW{
  position: absolute;
  top: 10vmin;
  z-index: 150;
  left: 5vmin;
  width: 90vmin;
  height: 75vmin;
  border-radius: 3vmin;
  background-color: ivory;
  color: maroon;
}

#WINDOW .close{
  position: absolute;
  right: 3vmin;
  top: -3vmin;
  font-size: 20vmin;
}




#HUD{
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  width: 99vmin;
  height: 8vmin;
  background-color: rgba(20,20,20,0.5);
  
}

#HUD #USER_ITEM{
  position: absolute;
  right: 2vmin;
}

#HUD #USER_INFO{
  position: absolute;
  left: 2vmin;
  font-size: 5vmin;
}


#HUD .icon{
  display: inline-block;
  min-width: 5vmin;
  min-height: 5vmin;
  vertical-align: middle;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

#HUD .A .icon{
  background-image:url("/image/icon/drum_can.png");
}
#HUD .B .icon{
  background-image:url("/image/icon/gin_dangan_silver_bullet.png");
}
#HUD .C .icon{
  background-image:url("/image/icon/tekkotsu_red.png");
}
#HUD .D .icon{
  background-image:url("/image/icon/wood_maruta.png");
}


#HUD .text-box{
  position: relative;
  font-size: 4vmin;  
}



#MENU{
  z-index: 50;
}

#HOME{
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("/image/bg/room_yuka_flooring.png");
  min-width: 100vmin;
  min-height: 100vmin;
  left: 0vmin;
  top: 0vmin;
  z-index: 0;
}





#BUTTON_HOME {
  position: absolute;
  background-image: url("/image/button/home.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 20vmin;
  top: 20vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_UPGRADE {
  position: absolute;
  background-image: url("/image/button/upgrade.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 35vmin;
  top: 30vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_MISSION {
  position: absolute;
  background-image: url("/image/button/quest.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 20vmin;
  top: 50vmin;
  width: 15vmin;
  height: 15vmin;
}


#BUTTON_CHARGE {
  position: absolute;
  background-image: url("/image/button/charge.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 5vmin;
  top: 30vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_CREATE {
  position: absolute;
  background-image: url("/image/button/make.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 35vmin;
  top: 45vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_REPAIR {
  position: absolute;
  background-image: url("/image/button/repair.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 5vmin;
  top: 45vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_LAUNCH {
  position: absolute;
  background-image: url("/image/button/launch.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 20vmin;
  top: 35vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_TEAM {
  position: absolute;
  background-image: url("/image/button/team.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 20vmin;
  top: 20vmin;
  width: 15vmin;
  height: 15vmin;
}

#SCENE .CHAR{
  position: absolute;
  width: 45vmin;
  height: 90vmin;
  background-image: url("/image/char/kids_chuunibyou_girl.png");    
  left: 50vmin;
  bottom: 0vmin;
  background-position: bottom center;
  z-index: 100;
}

#SCENE .CHAR .serif{
  background-color: aquamarine;
  position: absolute;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-size: 4vmin;
  top: 60vmin;
  left: -35vmin;
}
#SCENE .CHAR .serif:before{
  
}

#DATE{
  position: absolute;
  color: white;
  line-height:6vmin;
  left: 5vmin;
  bottom: 10vmin;
}

#TODAY{
  font-size: 7vmin;
}
#TIME{
 
  font-size: 10vmin;
}

.fade-in{
  animation-duration: 3s;
  animation-name: fade-in;
}

.fade-out{
  animation-duration: 3s;
  animation-name: fade-out;
}

.off{
  display: none;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }
  70% {

    display: block;
    opacity: 0.8;
  }
  100% {
    display: none;
  }
}