body{
  margin: 0;
  padding: 0;
}

/*タイトル*/
h2.title {
    position: absolute;
    top: 15vmin;
    left: 2vmin;
    font-weight: 200;
    font-size: 8vmin;
}



.image{
  background-repeat: no-repeat;
  background-size: contain;
}

.hide{
  display: none;
}

.background{
  filter: brightness(70%);
}

.pressed{
 filter: invert(75%);
}


#NOTIFY{
  position: absolute;  
  top: 8vmin;
  left: 3vmin;
  color: white;
  
  font-style: italic;
  font-size: 3.5vmin;
}

#WINDOW{
  position: absolute;
  top: 10vmin;
  z-index: 150;
  left: 5vmin;
  width: 90vmin;
  height: 75vmin;
  border-radius: 3vmin;
  background-color: ivory;
  color: maroon;
}

#WINDOW .close{
  position: absolute;
  right: 3vmin;
  top: -3vmin;
  font-size: 20vmin;
}

/*HUD関連　ここから*/

#HUD{
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  width: 100vmin;
  height: 8vmin;
  background-color: rgba(20,20,20,0.5);  
}

#HUD #USER_ITEM{
  position: absolute;
  right: 2vmin;
}

#HUD #USER_INFO{
  position: absolute;
  left: 2vmin;
  font-size: 5vmin;
}


#HUD .icon{
  display: inline-block;
  min-width: 5vmin;
  min-height: 5vmin;
  vertical-align: middle;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

#HUD .A .icon{
  background-image:url("/image/icon/drum_can.png");
}
#HUD .B .icon{
  background-image:url("/image/icon/gin_dangan_silver_bullet.png");
}
#HUD .C .icon{
  background-image:url("/image/icon/tekkotsu_red.png");
}
#HUD .D .icon{
  background-image:url("/image/icon/wood_maruta.png");
}

#HUD .text-box{
  position: relative;
  font-size: 4vmin;  
}

/*HUD関連　ここまで*/


#MENU{
  z-index: 50;
}

/*各画面の背景定義*/

#HOME{
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;    
  min-width: 100vmin;
  min-height: 100vmin;
  left: 0vmin;
  top: 0vmin;
  z-index: 0;
}

.home#HOME{
    background-image: url("/image/bg/room_yuka_flooring.png");
}
.launch#HOME{
    background-image: url("/image/bg/schoo_room_shichoukakushitsu.png");
}
.mission#HOME{
    background-image: url("/image/bg/room_syosai.png");
}

.repair#HOME{
    background-image: url("/image/bg/bg_hospital_chiryou.png");
}

.team#HOME{
    background-image: url("/image/bg/schoo_room_shichoukakushitsu.png");
}

.upgrade#HOME{
    background-image: url("/image/bg/room_kitchenroom_kitchen.png");
}

.charge#HOME{
    background-image: url("/image/bg/room_kitchenroom_kitchen.png");
}

.create#HOME{
    background-image: url("/image/bg/bg_room_science_rikashitsu.png");
}


/*画面の背景定義　ここまで*/


/*ボタン定義　ここから*/

#MENU .button{
  width: 15vmin;
  height: 15vmin;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}


#BUTTON_HOME {
  background-image: url("/image/button/home.png");
  left: 8vmin;
  top: 8vmin;
}
#BUTTON_UPGRADE {
  background-image: url("/image/button/upgrade.png");
  left: 35vmin;
  top: 30vmin;
}
#BUTTON_MISSION {
  background-image: url("/image/button/quest.png");
  left: 20vmin;
  top: 50vmin;
}

#BUTTON_CHARGE {
  background-image: url("/image/button/charge.png");
  left: 5vmin;
  top: 30vmin;
}

#BUTTON_CREATE {
  background-image: url("/image/button/make.png");
  left: 35vmin;
  top: 45vmin;
}

#BUTTON_REPAIR {
  background-image: url("/image/button/repair.png");
  left: 5vmin;
  top: 45vmin;
}

#BUTTON_LAUNCH {
  background-image: url("/image/button/launch.png");
  left: 20vmin;
  top: 35vmin;
}

#BUTTON_TEAM {
  background-image: url("/image/button/team.png");
  left: 20vmin;
  top: 20vmin;
}

/*メニューボタン定義　ここまで*/



#SCENE .CHAR{
  position: absolute;
  width: 45vmin;
  height: 90vmin;
  background-image: url("/image/char/kids_chuunibyou_girl.png");    
  left: 50vmin;
  bottom: 0vmin;
  background-position: bottom center;
  z-index: 100;
}

#SCENE .CHAR .serif{
  background-color: aquamarine;
  position: absolute;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-size: 4vmin;
  top: 60vmin;
  left: -35vmin;
}
#SCENE .CHAR .serif:before{
  
}


/*
    日付、時刻表示　ここから
*/
#DATE{
  position: absolute;
  color: white;
  line-height:6vmin;
  left: 5vmin;
  bottom: 10vmin;
}

#TODAY{
  font-size: 7vmin;
}
#TIME{
 
  font-size: 10vmin;
}

/**
    日付・時刻表示　ここまで
*/

.off{
  display: none;
}

