body{
  margin: 0;
  padding: 0;
}

.image{
  background-repeat: no-repeat;
  background-size: contain;
}

#contents {
  position: relative;
  left: 1vmin;
  top: 1vmin;
  background-color: ivory;
  min-width: 98vmin;
  min-height: 98vmin;
}

#BUTTON_HOME {
  position: absolute;
  background-image: url("/image/button/home.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 20vmin;
  top: 20vmin;
  width: 15vmin;
  height: 15vmin;
}
#BUTTON_UPGRADE {
  position: absolute;
  background-image: url("/image/button/upgrade.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 5vmin;
  top: 30vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_CHARGE {
  position: absolute;
  background-image: url("/image/button/charge.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 5vmin;
  top: 45vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_CREATE {
  position: absolute;
  background-image: url("/image/button/make.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 20vmin;
  top: 50vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_REPAIR {
  position: absolute;
  background-image: url("/image/button/repair.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 35vmin;
  top: 45vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_LAUNCH {
  position: absolute;
  background-image: url("/image/button/launch.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 35vmin;
  top: 30vmin;
  width: 15vmin;
  height: 15vmin;
}

#BUTTON_TEAM {
  position: absolute;
  background-image: url("/image/button/team.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 20vmin;
  top: 35vmin;
  width: 15vmin;
  height: 15vmin;
}

#SCENE .CHAR{
  position: absolute;
  width: 45vmin;
  height: 90vmin;
  background-image: url("/image/char/kids_chuunibyou_girl.png");    
  left: 50vmin;
  bottom: 0vmin;
  background-position: bottom center;
  
}

#SCENE .CHAR .serif{
  background-color: aquamarine;
  position: absolute;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-size: 4vmin;
  top: 4vmin;
  left: -10vmin;
}
#SCENE .CHAR .serif:before{
  
}

.fade-in{
  animation-duration: 3s;
  animation-name: fade-in;
}

.fade-out{
  animation-duration: 3s;
  animation-name: fade-out;
}

.off{
  display: none;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }
  70% {

    display: block;
    opacity: 0.8;
  }
  100% {
    display: none;
  }
}